:root {
   --gradient: linear-gradient(180deg,
         rgba(45, 112, 1253, 0.73) 0%,
         #163e92 100%);
}

body {
   background: var(--gradient);
   margin: 0;
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
   margin: 0;
}

p {
   margin: 0;
}

.todo {
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   border-radius: 2rem;
   background: black;
   padding: 1rem 4rem;
   height: 80%;
   width: 100%;
   box-shadow: 0 1rem 3rem 1rem rgba(0, 23, 71, 0.15);
   max-width: 30rem;
}

.input {
   position: relative;
   display: flex;
}

.input-field {
   width: 100%;
   border: 0.06rem solid white;
   border-radius: 0.5rem;
   padding: 1.25rem;
   font-size: 1rem;
}

input[type="text"]::placeholder {
   color: rgb(100, 100, 160);
}

input[type="text"] {
   background-color: black;
   color: rgb(200, 200, 255);
}

.todo-container {
   display: flex;
   gap: 1rem;
   width: 100%;
}

ul {
   padding: 0;
   margin: 0;
   overflow-y: scroll;
}

li {
   display: flex;
   flex-direction: column;
   gap: 1rem; 
}


#todoList .disabled {
   color: #8f98a8;
}

.disabled {
   display: flex;
   text-decoration: line-through;
}

/* checkbox input */

input[type="checkbox"] {
   appearance: none;
   cursor: pointer;
}

input[type="checkbox"]::before {
   content: "\2713";
   display: inline-block;
   width: 1.5rem;
   height: 1.5rem;
   font-size: 1rem;
   text-align: center;
   border: 2px solid blue;
   border-radius: 25%;
   color: transparent;
}
 
input[type="checkbox"]:checked::before {
   color: white;
   background-color: blue;
   border: 2px solid blue;
   border-radius: 25%;
}

/* scroll */

.scroll {
   height: 15rem;
   scrollbar-width: thin;
}

.scroll::-webkit-scrollbar {
   width: 0.6rem;
}

.scroll::-webkit-scrollbar-thumb {
   background-color: blue;
   border-radius: 0.5rem;
}

.scroll::-webkit-scrollbar-track {
   display: none;
}

/* counter */

.counter {
   border: 0.06rem solid blue;
}

.counter-container {
   height: 2rem;
   display: flex;
   justify-content: space-between;
   color: grey;
}

.counter-container p {
   align-self: center;
}

.counter-container button {
   border: none;
   background-color: transparent;
   color: grey;
   font-size: 1rem;
}

pre {
   margin: 0;
   padding: 5px;
   font-size: 1rem;
   white-space: pre-wrap;
   display: inline-block;
   color: rgb(200, 200, 255);
   align-items: center;
}

textarea {
   margin: 0;
   padding: 5px;
   font-size: 1rem;
   resize: none;
   border: none;
   outline: none;
   overflow: hidden;
   background-color: rgb(32, 32, 64);
   color: white
}

#closebtn {
   padding: 5px 15px 5px 15px;
   font-size: 1rem;
   resize: none;
   float: right;
   /* overflow: hidden; */
   background-color: red;
   border: 3px solid red;
   /* border-radius:  0.5rem; */
   color: white
}

input[type="file"] {
   display: none;
}